In [ ]:
# Q1. Explain with an example each when to use a for loop and a while loop.

In [59]:

# For loop nerver check the condition at the start , therefor while loop check the condition at the starting.
# For loop manage counter itself where in while loop we have to specify counter. For example below
# Print table using while loop Example
table = int(input("Please enter your number: "))
count = 1
while count <= 10 :
    st =  table * count
    print(table ,'x',count , '=', st)
    count = count+1

Please enter your number:  3

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [60]:
# Print table using For loop Example
table = int(input("Please enter your number: "))
count = 1
for i in range(10) :
    st =  table * count
    print(table ,'x',count , '=', st)
    count = count+1

Please enter your number:  4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
""" Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop. """

In [61]:
# Sum of 10 natural number using while loop
# 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
number = 10
j = 1
store = 0
while j <= number :
    store = store + j
    j = j+1
print(store)

55

In [65]:
# product of 10 natural number using while loop
# 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
number = 10
j = 1
store = 1
while j <= number :
    store = store * j
    j = j+1
print(store)

3628800

In [66]:
# Sum of 10 natural number using for loop
# 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
number = 10
j = 1
store = 0
for i in range(number) : 
    store = store + j
    j = j+1
print(store)

55

In [67]:
# product of 10 natural number using while loop
# 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
number = 10
j = 1
store = 1
for i in range(number) :
    store = store * j
    j = j+1
print(store)

3628800

In [1]:
""" Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list. """

' Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each\nnumber and if the cube of that number is divisible by 4 or 5 then append that number in a list and print\nthat list. '

In [70]:
li = list(range(1, 101))
for i in range(1, 101) : 
    devid_by_four = i**3/4
    devid_by_five = i**3/5
    if devid_by_four.is_integer() :
        li.append(round(devid_by_four))
    if devid_by_five.is_integer() :
        li.append(round(devid_by_five))
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 2, 16, 25, 54, 128, 250, 200, 432, 686, 675, 1024, 1458, 2000, 1600, 2662, 3456, 3125, 4394, 5488, 6750, 5400, 8192, 9826, 8575, 11664, 13718, 16000, 12800, 18522, 21296, 18225, 24334, 27648, 31250, 25000, 35152, 39366, 33275, 43904, 48778, 54000, 43200, 59582, 65536, 54925, 71874, 78608, 85750, 68600, 93312, 101306, 84375, 109744, 118638, 128000, 102400, 137842, 148176, 122825, 159014, 170368, 182250, 145800, 194672, 207646, 171475, 221184, 235298, 250000, 200000]

In [72]:
li = list(range(1, 101))
i = 1
while i <= 100 : 
    devid_by_four = i**3/4
    devid_by_five = i**3/5
    if devid_by_four.is_integer() :
        li.append(round(devid_by_four))
    if devid_by_five.is_integer() :
        li.append(round(devid_by_five))
    i = i+1
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 2, 16, 25, 54, 128, 250, 200, 432, 686, 675, 1024, 1458, 2000, 1600, 2662, 3456, 3125, 4394, 5488, 6750, 5400, 8192, 9826, 8575, 11664, 13718, 16000, 12800, 18522, 21296, 18225, 24334, 27648, 31250, 25000, 35152, 39366, 33275, 43904, 48778, 54000, 43200, 59582, 65536, 54925, 71874, 78608, 85750, 68600, 93312, 101306, 84375, 109744, 118638, 128000, 102400, 137842, 148176, 122825, 159014, 170368, 182250, 145800, 194672, 207646, 171475, 221184, 235298, 250000, 200000]

In [73]:
# Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"
vowels = "AaEeIiOoUu"
res = []
count = 0
for i in string :
    if i in vowels :
        res.append(i)
        count = count+1
print(count)
print(res)

12
['I', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']

In [56]:
""" 
Q3. Create a python program to compute the electricity bill for a household. 
The per-unit charges in rupees are as follows: 
For the first 100 units, the user will be charged Rs. 4.5 per unit, 
for the next 100 units, the user will be charged Rs. 6 per unit, 
and for the next 100 units, the user will be charged Rs. 10 per unit, 
After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250. 
"""
# 100*4.5+100*6+100*10+10*20

' \nQ3. Create a python program to compute the electricity bill for a household. \nThe per-unit charges in rupees are as follows: \nFor the first 100 units, the user will be charged Rs. 4.5 per unit, \nfor the next 100 units, the user will be charged Rs. 6 per unit, \nand for the next 100 units, the user will be charged Rs. 10 per unit, \nAfter 300 units and above the user will be charged Rs. 20 per unit.\nYou are required to take the units of electricity consumed in a month from the user as input.\nYour program must pass this test case: when the unit of electricity consumed by the user in a month is\n310, the total electricity bill should be 2250. \n'

In [74]:
# first = 4.5
# second = 6
# second = 10
# second = 20
unit = int(input("Please enter your unit - "))
if unit in range(0,101) :
    bill = unit*4.5
    print("Unit is between 0 - 100: ", round(bill))
elif unit in range(101, 201) :
    tmp = unit-100
    bill  = tmp*6+100*4.5
    print("Unit is between 101 - 200: ", round(bill))
elif unit in range(201, 301) :
    tmp = unit-200
    bill  = tmp*10+100*4.5+100*6
    print("Unit is between 201 - 300: ", round(bill))
else :
    tmp = unit-300
    bill  = tmp*20+100*4.5+100*6+100*10
    print("Unit is more than 300: ", round(bill))

Please enter your unit -  500

Unit is more than 300:  6050